<!-- Campo para o nome da tarefa -->
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Nome da tarefa</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="TarefaNome"
      placeholder="Adicione o nome da tarefa">
  </div>
</div>

<!-- Campo para a descrição da tarefa -->
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Descrição da tarefa</label>
  <div class="col-sm-10">
    <textarea class="form-control" [(ngModel)]="TarefaDescricao"
      placeholder="Adicione uma descrição para a tarefa"></textarea>
  </div>
</div>

<!-- Botão para adicionar tarefa (visível quando TarefaId é 0) -->
<button (click)="addTarefa()" *ngIf="TarefaId === 0" class="btn btn-primary">
  Adicionar
</button>

<!-- Botão para atualizar tarefa (visível quando TarefaId não é 0) -->
<button (click)="updateTarefa()" *ngIf="TarefaId !== 0" class="btn btn-primary">
  Atualizar
</button>